.GUI {
    background:#D9D9DB;
    display:block;
    border:4px groove #a3a3a3;
    width:var(--width);
    height:var(--height);
    position:relative;
    left:var(--x);
    top:var(--y);
}

.GUI .slot {
    height:64px;
    width:64px;
    border:4px groove #a3a3a3;
    padding:0px;
}